body {
  color: lightslategray;
}

blockquote {
  background-color: rgba(0, 12, 24, 0.05);
}

a {
  border: 1px dashed red;
}

em {
  color: darkred;
}


.link1 a {
 
}

.link2 a {
  color: black;
  padding: 0;
}

.link3 a {
  
  color: unset;
  padding: unset;
}

.content1 p {
  border: 1px solid #ccc;
}

.variant-em {
  background-color: greenyellow;
  color: black;
  font-weight: bold;
  font-style: inherit;
}

